body{
    background-color:rgb(126, 211, 236);
    display: block;
   
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
}
#quote-author{
    color: darkblue;
}